
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
$uchicago-maroon: #800000;
$uchicago-light-gray: #D6D6CE;
$uchicago-dark-gray: #767676;
$black: #000000;
$font-stack: "EB Garamond", serif;
$std-margin-left: 15px;

body {margin: $std-margin-left; background-color: $uchicago-light-gray;
    color: $uchicago-maroon; font-family: $font-stack;}

    .container-fluid {background-color: $uchicago-maroon;
    color: $uchicago-dark-gray;}

    .header {background-color: $uchicago-light-gray;
    color: $uchicago-maroon;}

    .footer {position: absolute; bottom: 0; width:100%; background-color: $uchicago-dark-gray;
    color: $black;}